.backColor{
    background-color: black;
    height: 100vh;
    width:100vw;
}
.but{
    margin-left: 40px;
    margin-top: 20px;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}